* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

#page-title {
  margin-bottom: 1rem;
}

.container {
  height: 100%;
  width: 90%;
  margin: auto;
}

.container > * {
  margin: 1rem 0;
}

.sub-container {
  width: 100%;
  border: yellow 12px solid;
  background-color: rgba(256, 256, 0, 0.2);
  padding: 0.5rem;
  position: relative;
  display: flex;
}

.sub-container-title {
  position: absolute;
  margin-top: -1.35rem;
  background-color: rgb(255, 251, 221);
  padding: 0 3px;
}

.content-box {
  height: 100%;
  width: 100%;
  display: flex;
}

.description-box {
  width: 30%;
  display: flex;
  flex-direction: column;
  padding-right: 5px;
}

.description-box > * {
  margin: 0.25rem 0 0.25rem auto;
  line-height: 1.25rem;
}

.action-box {
  width: 70%;
}

.action-box > * {
  margin: 0.25rem 0;
}

#height-range,
#salary-range {
  display: flex;
  color: #fff;
}

.low {
  padding-top: 0.1rem;
  text-align: center;
  width: 4rem;
  background-color: #7a0000;
  margin-right: 10px;
}

.high {
  padding-top: 0.1rem;
  text-align: center;
  width: 4.25rem;
  background-color: rgb(89, 13, 160);
  margin-left: 10px;
}

#contact-method {
  margin-top: auto;
  margin-bottom: 0;
}

#contact-method-opts {
  margin-bottom: -1px;
}

#submit-btn {
  margin: -10px 0;
}
